.weekday-chip {
  background-color: var(--transparent);
  color: var(--cancel);
  margin-top: 10px !important;

  &:hover {
    color: var(--on-dialog);
    outline: var(--on-dialog) solid 2px;
  }

  &.active {
    background-color: lawngreen;
    color: black;
  }

  &.selected {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 2px;
  }
}

.notification-time-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > * {
    margin: auto 0;
  }

  .primary-btn {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 2px;
    width: 70%;
    margin-top: 10px;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }

  .secondary-btn {
    background-color: transparent;
    color: var(--on-dialog);
    width: 70%;
    margin: 16px 0;

    &:hover {
      outline: var(--cancel) solid 2px;
    }
  }
}
